{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Login</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>